body {
  margin: 0;
  padding: 0;
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#app {
  position: relative;
  display: block;
  overflow: hidden;
}

.button-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}